
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.form{
    background: #b3ccec;
    border-radius: 10px ;
}

.container{
    width: 500px;
  background: #ffffff;
  text-align: center;
  padding: 50px 35px 10px 35px;
}